*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Poppins', sans-serif;
    background: url("../image/1.jpg");
    background-size: cover;
    height: 100vh;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%; 
}
@media (max-width:480px) {
    header{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%; 
    }
}
h1{
    color:white;
    padding:30px;
    cursor:pointer;
}
h1:hover{
    color:chocolate;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:50%;
}
ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
ul li{
    list-style:none;
    padding:25px;
    font-size:20px;
    cursor:pointer;
}
ul li a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}
ul li a:hover{
    color:chocolate;
    border-radius:10px;
}
#home{
    background: chocolate;
    padding:10px 20px;
    border-radius:10px;
    height:82vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
